<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheet/stars.css">

<div class="row">
    <h1 class="col-12">Checkout</h1>
    <% if(session.cart) { %>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body shadow">
                <% if(currentUser){%>
                <div class="col-12">
                    <h6><strong>Username:</strong> <%= currentUser.username %></h6>
                    <h6><strong>Email:</strong> <%= currentUser.email %></h6>
                    <hr>
                </div>
                <% } %>
                <div class="col-12">
                    <h4 class="mb-3">Payment Method</h4>
                    <!-- <div id="paypal-button-container"></div> -->
                    <div id="dropin-container"></div>
                    <button id="submit-button" class="button button--small button--green">Purchase</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
        <div class="card">
            <div class="card-body shadow">
                <h4 class="card-title">Shipping Cart</h4>
                <div class="row">
                <div class="col-9">
                    <p>Subtotal</p>
                </div>
                <div class="col-3">
                    <p><%= session.cart.totalPrice %></p>
                </div>
                
                <div class="col-9">
                    <p>Shipping Fee</p>
                </div>
                <div class="col-3">
                    <p><span style="color: red;">Free</span></p>
                </div>
                <div class="col-9">
                    <p>Services</p>
                </div>
                <div class="col-3">
                    <p><span style="color: red;">2</span> JD</p>
                </div>
                <div class="col-9">
                    <h5>Order Total</h5>
                </div>
                <div class="col-3 mb-3">
                    <h5><%= session.cart.totalPrice + 2 %> JD</h5>
                </div>
                <hr>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">ITEMS</th>
                            <th scope="col"></th>
                            <th scope="col">QTY</th>
                            <th scope="col">PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let product of Product) { %>
                        <tr>
                            <th scope="row"></th>
                            <td><%= product.item.name %></td>
                            <td><%= product.qty %></td>
                            <td><%= product.item.price %> JD</td>
                        </tr>
                        <% } %> 
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
        <hr>
        <div class="row">
            <div class="col-12  offset-1">
                <h3>The Cart is Empty</h3>
            </div>
        </div>
    <% } %> 
</div>
<!-- <script src="/javascript/paypal.js"></script> -->
<script src="/javascript/checkout.js"></script>


