<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheet/stars.css">

<div class="row">
    <h1>Edit the Product</h1>
    <div class="col-6 offset-3 mt-5">
        <form action="/products/<%= product._id %>?_method=PUT" method="POST" novalidate class="validated-form"  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input class="form-control" type="text" name="product[name]" id="name" value="<%= product.name %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="number" name="product[price]" id="price" value="<%= product.price %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="from-file custom-file">
                    <label for="image" class="form-label">Add more images</label>
                    <input class="form-control form-control-lg" id="image" type="file" name="image" multiple>
                </div>
            </div>
            <div class="mb-3">
                <% product.images.forEach(function(img, i) {%> 
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%=i%>">Delete</label>
                <% }) %> 
            </div>
            <div class="mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input class="form-control" type="number" name="product[weight]" id="weight" value="<%= product.weight %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" type="text" name="product[description]" id="description" required><%= product.description %></textarea>
                <label for="description" class="form-label">Description</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="">
                <fieldset class="starability-basic">
<<<<<<< HEAD
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
=======
                    <input type="radio" id="no-rate" class="input-no-rate" name="product[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="product[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="product[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="product[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="product[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="product[rating]" value="5" />
>>>>>>> e55eb9d01a0454a7102e94a72c4c61104ac60945
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="brand">Select The Brand</label>
                <select class="form-select" name="product[brand]" id="brand">
                    <option value="Organic Farm"<%=product.brand ==='Organic Farm'?'selected':''%>>Organic Farm</option>
                    <option value="Fruits Market"<%=product.brand ==='Fruits Market'?'selected':''%>>Fruits Market</option>
                    <option value="Country Farm"<%=product.brand ==='Country Farm'?'selected':''%>>Country Farm</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="category">Select Category</label>
                <select class="form-select" name="product[category]" id="category">
                    <option value="Fruit"<%=product.category ==='Fruit'?'selected':''%>>Fruit</option>
                    <option value="Vegetable"<%=product.category ==='Vegetable'?'selected':''%>>Vegetable</option>
                    <option value="Dairy"<%=product.category ==='Dairy'?'selected':''%>>Dairy</option>
                </select>
            </div>
            <button class="btn btn-success">Update</button>
            <a href="/products/<%= product._id %>" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>
