<% layout('layouts/boilerplate') %> 

<h2 class="shadow p-2 mb-3 bg-body rounded" style="text-align:center; margin-top: 20px;">Our Fresh Products</h2>

<div class="row">
    <% for( let product of products) {%>
        <div class="col-3 mb-3 mt-3"><a href="" class="removeUnderLine">
            <div class="card shadow p-3 mb-3 bg-body rounded" style="width: 18rem;">
                <img src="images/apple.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= product.category%></li>
                    <li class="list-group-item"><%= product.price %>$</li>
                    <li class="list-group-item">Rating: <%= product.rating %></li>
                </ul>
                <!-- <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div> -->
            </div></a>
        </div>
    <%}%>
</div>